*.suo
*.user
_ReSharper.*
bin
obj
packages
bin/*
obj/*
/LivroDeReceitas/.vs
/LivroDeReceitas/.vs/*
/LivroDeReceitas/LivroDeReceitas.WebUI/ApplicationInsights.config
/LivroDeReceitas/LivroDeReceitas.Models/LivroDeReceitas.Models.csproj.user
/LivroDeReceitas/LivroDeReceitas.DataAccess/LivroDeReceitas.DataAccess.csproj.user
/LivroDeReceitas/LivroDeReceitas.WebUI/LivroDeReceitas.WebUI.csproj.user
/LivroDeReceitas/LivroDeReceitas.WebUI/bin
/LivroDeReceitas/LivroDeReceitas.WebUI/bin/*
/LivroDeReceitas/LivroDeReceitas.WebUI/bin/Debug
/LivroDeReceitas/LivroDeReceitas.WebUI/bin/Debug/*.dll
/LivroDeReceitas/LivroDeReceitas.WebUI/bin/Release
/LivroDeReceitas/LivroDeReceitas.WebUI/obj
/LivroDeReceitas/LivroDeReceitas.WebUI/obj/*
/LivroDeReceitas/LivroDeReceitas.Models/bin
/LivroDeReceitas/LivroDeReceitas.Models/bin/*
/LivroDeReceitas/LivroDeReceitas.Models/obj
/LivroDeReceitas/LivroDeReceitas.Models/obj/*
/LivroDeReceitas/LivroDeReceitas.DataAccess/bin
/LivroDeReceitas/LivroDeReceitas.DataAccess/bin/Debug/*.dll
/LivroDeReceitas/LivroDeReceitas.DataAccess/bin/Debug/*.pdb
/LivroDeReceitas/LivroDeReceitas.DataAccess/bin/Release/*
/LivroDeReceitas/LivroDeReceitas.DataAccess/bin/Release/*.dll
/LivroDeReceitas/LivroDeReceitas.DataAccess/bin/Release/*.pdb
/LivroDeReceitas/LivroDeReceitas.DataAccess/obj
/LivroDeReceitas/LivroDeReceitas.DataAccess/obj/*
/LivroDeReceitas/LivroDeReceitas.WebUI/*.user
/LivroDeReceitas/LivroDeReceitas.Models/*.user
/LivroDeReceitas/LivroDeReceitas.DataAccess/*.user
*.dll
*.pdb
*.cache

#Junk Files
*.DS_Store
[Tt]humbs.db

#Visual Studio Files
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/ 
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak

#Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad

#Other
.svn

# Include DLLs if they're in the NuGet packages directory
!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll
.vs
LivroDeReceitas.DataAccess.csproj.user
*.user
.vs
LivroDeReceitas.Models.csproj.user
LivroDeReceitas/LivroDeReceitas.Models/bin/Debug/LivroDeReceitas.Models.dll
LivroDeReceitas/LivroDeReceitas.Models/bin/Debug/LivroDeReceitas.Models.dll
*.dll
*.pdb
*.cache
~$ceitas Divertidas_ (1) (1).docx
